#!/bin/bash

# shortcut to this dotfiles path is $ZSH
export ZSH={{ inventory_dir }}

# Load our prompt
eval "$(starship init zsh)"

# all of our zsh files
typeset -U config_files
config_files=($ZSH/**/zsh/*.zsh)

# load the path files
for file in ${(M)config_files:#*/path.zsh}
do
  . "$file"
done

# These final PATH and MANPATH exports need to be loaded last
export PATH="./bin:$ZSH/roles/bin/bin:/usr/local/bin:/usr/local/sbin:$PATH"
export MANPATH="/usr/local/man:/usr/local/mysql/man:/usr/local/git/man:$MANPATH"

# load everything but the path and completion files
for file in ${${config_files:#*/path.zsh}:#*/completion.zsh}
do
  . $file
done

# initialize autocomplete here, otherwise functions won't be loaded
autoload -U compinit
compinit

# load every completion after autocomplete loads
for file in ${(M)config_files:#*/completion.zsh}
do
  . "$file"
done

unset config_files

autoload -U +X bashcompinit && bashcompinit
complete -o nospace -C /usr/local/bin/vault vault
