cask_args appdir: '/Applications'

tap 'golangci/tap'
tap 'hashicorp/tap'
tap 'kdash-rs/kdash'
tap 'lingrino/tap'

brew 'atlas'
brew 'awscli'
brew 'bash'
brew 'bat'
brew 'bind'
brew 'bottom'
brew 'chezmoi'
brew 'cloudflare-wrangler'
brew 'coreutils'
brew 'doggo'
brew 'duf'
brew 'dust'
brew 'eza'
brew 'fd'
brew 'ffmpeg'
brew 'fnm'
brew 'fzf'
brew 'gh'
brew 'git-delta'
brew 'git-lfs'
brew 'git'
brew 'go'
brew 'golangci/tap/golangci-lint'
brew 'goreleaser'
brew 'govulncheck'
brew 'gping'
brew 'hadolint'
brew 'hashicorp/tap/terraform'
brew 'helm'
brew 'jq'
brew 'just'
brew 'kdash-rs/kdash/kdash'
brew 'kubernetes-cli'
brew 'kustomize'
brew 'less'
brew 'libgit2'
brew 'markdownlint-cli'
brew 'mas'
brew 'node'
brew 'openssl'
brew 'procs'
brew 'python'
brew 'readline'
brew 'ripgrep'
brew 'rustup'
brew 'scc'
brew 'sd'
brew 'shellcheck'
brew 'shfmt'
brew 'sqlite'
brew 'terraform-ls'
brew 'tflint'
brew 'tree'
brew 'ty'
brew 'uv'
brew 'viddy'
brew 'watch'
brew 'wget'
brew 'yq'
brew 'zoxide'
brew 'fish'

cask '1password'
cask '1password-cli'
cask 'alfred'
cask 'claude'
cask 'claude-code'
cask 'cleanshot'
cask 'codex'
cask 'cursor'
cask 'ghostty'
cask 'google-chrome'
cask 'headlamp'
cask 'itsycal'
cask 'lingrino/tap/glen'
cask 'lingrino/tap/vaku'
cask 'loom'
cask 'macwhisper'
cask 'medis'
cask 'mimestream'
cask 'multitouch'
cask 'opal-composer'
cask 'proxyman'
cask 'slack'
cask 'tableplus'
cask 'visual-studio-code'
cask 'vlc'
cask 'zoom'

{{ if .personal -}}
# personal
brew 'atuin'

cask 'chatgpt'
cask 'copilot-money'
cask 'orbstack'

mas '1Password for Safari', id: 1569813296
mas 'Peek', id: 1554235898
mas 'Remote Desktop', id: 409907375
mas 'Screens 5', id: 1663047912
mas 'Things', id: 904280696
mas 'uBlock Origin Lite', id: 6745342698
{{- end }}

{{ if eq .machine "mini" -}}
# mini
brew 'tailscale'
cask 'screens-connect'
cask 'arq'
{{ else if .personal -}}
cask 'tailscale-app'
{{- end }}

{{ if .work -}}
# work
tap 'atlassian/homebrew-acli'
tap 'atlassian/lanyard', 'git@bitbucket.org:atlassian/lanyard-tap.git'
tap 'loomhq/tap'
tap 'mutagen-io/mutagen'

brew 'acli'
brew 'container-structure-test'
brew 'cloudflared'
brew 'docker-credential-helper-ecr'
brew 'hostess'
brew 'loomhq/tap/jig'
brew 'loomhq/tap/loomctl'
brew 'loomhq/tap/mutagen-compose@0.17'
brew 'mkcert'
brew 'mutagen-io/mutagen/mutagen@0.17'
brew 'nss'
brew 'postgresql@16'

cask 'atlassian/lanyard/lanyard'
cask 'docker-desktop'
cask 'spotify'
cask 'yubico-yubikey-manager'
{{- end }}
