{{- if eq .machine "personal" }}
{{-   include "exact_private_dot_config/private_homebrew/Brewfile_personal" -}}
{{- else if eq .machine "mini" }}
{{-   include "exact_private_dot_config/private_homebrew/Brewfile_mini" -}}
{{- end -}}
