# Put secret things (env vars) in this folder
secret/*

# Can contain git credentials
git/gitconfig.local.symlink

# Can contain docker credentials
docker.symlink/config.json

# Keep ssh config file, but nothing else
ssh.symlink/*
!ssh.symlink/config
