# Identification file
me.txt

# Workplace specific
roles/work

# Secrets
secret.yml
*_secret.yml

# Templated files
roles/bin/bin/dot
roles/go/zsh/path.zsh
roles/node/zsh/path.zsh
roles/alacritty/zsh/completion.zsh
