machine api.heroku.com
  login sean@lingrino.com
  password {{ range $i,$e := (onepassword "6pmlloqnuna5xfadxu3wdqa3nm").details.sections }}
    {{- if (hasKey $e "fields") }}
        {{- range $j,$f := $e.fields }}
            {{- if (eq (dig "t" "" $f) "laptop") }}
                {{- $f.v }}
            {{- end }}
        {{- end }}
    {{- end }}
{{- end }}
machine git.heroku.com
  login sean@lingrino.com
  password {{ range $i,$e := (onepassword "6pmlloqnuna5xfadxu3wdqa3nm").details.sections }}
    {{- if (hasKey $e "fields") }}
        {{- range $j,$f := $e.fields }}
            {{- if (eq (dig "t" "" $f) "laptop") }}
                {{- $f.v }}
            {{- end }}
        {{- end }}
    {{- end }}
{{- end }}
