cask_args appdir: '/Applications'

tap 'clementtsang/bottom'
tap 'golangci/tap'
tap 'goreleaser/tap'
tap 'homebrew/cask'
tap 'homebrew/cask-drivers'
tap 'homebrew/cask-versions'
tap 'kdash-rs/kdash'
tap 'lingrino/tap'

brew 'ansible'
brew 'ansible-lint'
brew 'awscli'
brew 'bat'
brew 'chezmoi'
brew 'clementtsang/bottom/bottom'
brew 'cloudflare-wrangler'
brew 'coreutils'
brew 'ctop'
brew 'delve'
brew 'dive'
brew 'doctl'
brew 'dog'
brew 'duf'
brew 'dust'
brew 'exa'
brew 'fd'
brew 'fzf'
brew 'git'
brew 'git-delta'
brew 'git-lfs'
brew 'gh'
brew 'go'
brew 'golangci/tap/golangci-lint'
brew 'goreleaser/tap/goreleaser'
brew 'gpg'
brew 'gping'
brew 'hadolint'
brew 'helm'
brew 'hyperfine'
brew 'jq'
brew 'kdash-rs/kdash/kdash'
brew 'kubernetes-cli'
brew 'less'
brew 'libgit2'
brew 'lingrino/tap/cami'
brew 'lingrino/tap/glen'
brew 'lingrino/tap/vaku'
brew 'markdownlint-cli'
brew 'mas'
brew 'nmap'
brew 'node'
brew 'openssl'
brew 'packer'
brew 'procs'
brew 'python'
brew 'readline'
brew 'richgo'
brew 'ripgrep'
brew 'rustup-init'
brew 'scc'
brew 'sd'
brew 'serverless'
brew 'shellcheck'
brew 'shfmt'
brew 'starship'
brew 'terraform'
brew 'terraform-ls'
brew 'tflint'
brew 'vault'
brew 'watch'
brew 'wget'
brew 'xh'
brew 'yq'
brew 'zoxide'
brew 'zsh'

cask '1password'
cask '1password-cli'
cask 'alfred'
cask 'aws-vault'
cask 'cleanshot'
cask 'docker'
cask 'fantastical'
cask 'firefox'
cask 'google-chrome'
cask 'hookshot'
cask 'infra'
cask 'istat-menus'
cask 'iterm2-beta'
cask 'linear-linear'
cask 'loom'
cask 'notion'
cask 'proxyman'
cask 'slack'
cask 'sublime-text'
cask 'visual-studio-code'
cask 'vlc'
cask 'zoom'

mas 'Craft', id: 1487937127
mas 'Peek', id: 1554235898
mas 'Pins', id: 1547106997
mas 'Tailscale', id: 1475387142
mas 'Things', id: 904280696

{{- if .work }}
tap 'loomhq/tap'
tap 'versent/homebrew-taps'

brew 'aws-iam-authenticator'
brew 'loomhq/tap/loomctl'
brew 'minikube'
brew 'versent/homebrew-taps/saml2aws'
brew 'terragrunt'
{{- end }}
