init.author.name=Sean Lingren
init.author.email=sean@lingrino.com
init.author.url=https://lingrino.com
init.license=MIT
init.version=0.0.1
loglevel=error
prefix={{ .chezmoi.homeDir }}/.npm-global-modules
