AWS_ACCESS_KEY_ID={{ (onepasswordRead "op://dotfiles/aws-mini/AWS_ACCESS_KEY_ID") }}
AWS_SECRET_ACCESS_KEY={{ (onepasswordRead "op://dotfiles/aws-mini/AWS_SECRET_ACCESS_KEY") }}
AWS_DEFAULT_REGION=us-west-2
