################################
### machine information      ###
################################
{{- $machine := promptString "machine name (eg: mini)" -}}

################################
### chezmoi data             ###
################################
data:
  machine: {{ $machine }}

{{- if eq .chezmoi.os "darwin" }}
  {{- if eq .chezmoi.arch "arm64" }}
  brewprefix: /opt/homebrew
  {{- else if eq .chezmoi.arch "amd64" }}
  brewprefix: /usr/local
  {{- end }}
{{- end }}

################################
### chezmoi config           ###
################################
sourceDir: {{ .chezmoi.homeDir }}/projects/dotfiles

format: yaml
pager: "hunk pager"
remove: true
diff:
  exclude: ["scripts"]
onepassword:
  mode: service
