################################
### machine information      ###
################################
{{- $machine   := ""    -}}
{{- $personal  := false -}}
{{- $work      := false -}}
{{- $headless  := false -}}
{{- $transient := false -}}

{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "vagrant" "vscode") -}}
{{-    $machine   = .chezmoi.hostname -}}
{{-    $headless  = true -}}
{{-    $transient = true -}}
{{- else }}
{{-    $machine = promptString "machine name (eg: work)" -}}
{{- end -}}

{{- if eq $machine "work" -}}
{{-    $work = true -}}
{{- else }}
{{-    $personal = true -}}
{{- end }}

################################
### chezmoi data             ###
################################
data:
  machine:   {{ $machine }}
  personal:  {{ $personal }}
  work:      {{ $work }}
  headless:  {{ $headless }}
  transient: {{ $transient }}

{{- if eq .chezmoi.os "darwin" }}
  {{- if eq .chezmoi.arch "arm64" }}
  brewprefix: /opt/homebrew
  {{- else if eq .chezmoi.arch "amd64" }}
  brewprefix: /usr/local
  {{- end }}
{{- end }}

################################
### chezmoi config           ###
################################
sourceDir: {{ .chezmoi.homeDir }}/projects/dotfiles

format: yaml
pager: delta
remove: true
diff:
  exclude: ["scripts"]
edit:
  command: code
  args: ["--wait"]
