#!/usr/bin/env zsh

# Helper functions for managing path. Prevents duplicates.
typeset -U path  # No duplicates
path=()

_prepath() {
    for dir in "$@"; do
        dir=${dir:A}
        [[ ! -d "$dir" ]] && return
        path=("$dir" $path[@])
    done
}
_postpath() {
    for dir in "$@"; do
        dir=${dir:A}
        [[ ! -d "$dir" ]] && return
        path=($path[@] "$dir")
    done
}
_prepath /bin /sbin /usr/bin /usr/sbin
_prepath /usr/local/bin /usr/local/sbin
_prepath {{ .brewprefix }}/bin

# Set config_files to every file in the zsh folder ending in .zsh
typeset -U config_files
config_files=("{{ .chezmoi.homeDir }}/.sources")

# Now source anything '*.zsh' that is not 'path.zsh' or 'completion.zsh'
for file in ${${config_files:#*/path.zsh}:#*/completion.zsh}
do
  source "$file"
done

# Add our completions to fpath
fpath=({{ .brewprefix }}/share/zsh/completions/src $fpath)

# This line lets zsh use bash completions
autoload -U +X bashcompinit && bashcompinit

# This line initializes the completion system
autoload -U +X compinit && compinit

# load aws completions
complete -C '{{ .brewprefix }}/bin/aws_completer' aws

# We don't need this variable anymore
unset config_files

# load fzf-tab
source {{ .chezmoi.homeDir }}/.local/bin/fzf-tab/fzf-tab.plugin.zsh

# Load autosuggestions and syntax-highlighting
# Syntax-highlighting must be loaded at the end
source {{ .brewprefix }}/share/zsh-autosuggestions/zsh-autosuggestions.zsh
source {{ .brewprefix }}/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

unfunction _prepath
unfunction _postpath

# Lastly we load our prompt
eval "$(starship init zsh)"
