cask_args appdir: '/Applications'

tap 'golangci/tap'
tap 'goreleaser/tap'
tap 'hashicorp/tap'
tap 'homebrew/cask-versions'
tap 'kdash-rs/kdash'
tap 'lingrino/tap'

brew 'awscli'
brew 'bash'
brew 'bat'
brew 'bottom'
brew 'chezmoi'
brew 'corepack'
brew 'coreutils'
brew 'docker-credential-helper-ecr'
brew 'duf'
brew 'dust'
brew 'eza'
brew 'fd'
brew 'fzf'
brew 'gh'
brew 'git-delta'
brew 'git-lfs'
brew 'git'
brew 'go'
brew 'golangci/tap/golangci-lint'
brew 'goreleaser/tap/goreleaser'
brew 'govulncheck'
brew 'gping'
brew 'hadolint'
brew 'hashicorp/tap/terraform'
brew 'helm'
brew 'jq'
brew 'kdash-rs/kdash/kdash'
brew 'kubernetes-cli'
brew 'kustomize'
brew 'less'
brew 'libgit2'
brew 'lingrino/tap/cami'
brew 'lingrino/tap/glen'
brew 'lingrino/tap/vaku'
brew 'markdownlint-cli'
brew 'mas'
brew 'node'
brew 'openssl'
brew 'procs'
brew 'python'
brew 'readline'
brew 'ripgrep'
brew 'rustup'
brew 'scc'
brew 'sd'
brew 'shellcheck'
brew 'shfmt'
brew 'starship'
brew 'terraform-ls'
brew 'tflint'
brew 'viddy'
brew 'watch'
brew 'wget'
brew 'yq'
brew 'zoxide'
brew 'zsh-autosuggestions'
brew 'zsh-syntax-highlighting'
brew 'zsh'

cask '1password'
cask '1password-cli'
cask 'alfred'
cask 'arc'
cask 'aws-vault'
cask 'cleanshot'
cask 'copilot'
cask 'docker'
cask 'fantastical'
cask 'google-chrome'
cask 'headlamp'
cask 'iterm2'
cask 'loom'
cask 'mimestream'
cask 'multitouch'
cask 'opal-composer'
cask 'proxyman'
cask 'qmk-toolbox'
cask 'slack'
cask 'tableplus'
cask 'tailscale'
cask 'visual-studio-code'
cask 'vlc'
cask 'zed'
cask 'zoom'

mas 'Peek', id: 1554235898
mas 'Things', id: 904280696

{{ if .work -}}
# work
tap 'loomhq/tap'

brew 'container-structure-test'
brew 'hostess'
brew 'loomhq/tap/jig'
brew 'loomhq/tap/loomctl'
brew 'mkcert'
brew 'nss'
brew 'nvm'
brew 'postgresql@16'
brew 'saml2aws'

cask 'yubico-yubikey-manager'
{{- end }}
