cask_args appdir: '/Applications'

tap 'golangci/tap'
tap 'goreleaser/tap'
tap 'hashicorp/tap'
tap 'kdash-rs/kdash'
tap 'lingrino/tap'

brew 'awscli'
brew 'bash'
brew 'bat'
brew 'bind'
brew 'bottom'
brew 'chezmoi'
brew 'coreutils'
brew 'duf'
brew 'dust'
brew 'eza'
brew 'fd'
brew 'fnm'
brew 'fzf'
brew 'gh'
brew 'git-delta'
brew 'git-lfs'
brew 'git'
brew 'go'
brew 'golangci/tap/golangci-lint'
brew 'goreleaser/tap/goreleaser'
brew 'govulncheck'
brew 'gping'
brew 'hadolint'
brew 'hashicorp/tap/terraform'
brew 'helm'
brew 'jq'
brew 'kdash-rs/kdash/kdash'
brew 'kubernetes-cli'
brew 'kustomize'
brew 'less'
brew 'libgit2'
brew 'lingrino/tap/glen'
brew 'lingrino/tap/vaku'
brew 'markdownlint-cli'
brew 'mas'
brew 'node'
brew 'openssl'
brew 'procs'
brew 'python'
brew 'readline'
brew 'ripgrep'
brew 'rustup'
brew 'scc'
brew 'sd'
brew 'shellcheck'
brew 'shfmt'
brew 'starship'
brew 'terraform-ls'
brew 'tflint'
brew 'viddy'
brew 'watch'
brew 'wget'
brew 'yq'
brew 'zoxide'
brew 'zsh-autosuggestions'
brew 'zsh-syntax-highlighting'
brew 'zsh'

cask '1password'
cask '1password-cli'
cask 'alfred'
cask 'aws-vault'
cask 'claude'
cask 'cleanshot'
cask 'copilot'
cask 'docker'
cask 'google-chrome'
cask 'headlamp'
cask 'itsycal'
cask 'loom'
cask 'medis'
cask 'mimestream'
cask 'multitouch'
cask 'opal-composer'
cask 'proxyman'
cask 'slack'
cask 'tableplus'
cask 'visual-studio-code'
cask 'vlc'
cask 'zed'
cask 'zoom'

mas '1Password for Safari', id: 1569813296
mas 'Hush', id: 1544743900
mas 'Peek', id: 1554235898
mas 'Save to Matter', id: 1548677272
mas 'Things', id: 904280696
mas 'Wipr', id: 1662217862

{{ if .personal -}}
# personal
brew 'atuin'
mas 'Remote Desktop', id: 409907375
mas 'Screens 5', id: 1663047912
{{- end }}

{{ if eq .machine "mini" -}}
# mini
brew 'tailscale'
cask 'screens-connect'
cask 'arq'
{{ else }}
cask 'tailscale'
{{- end }}

{{ if .work -}}
# work
tap 'atlassian/lanyard', 'git@bitbucket.org:atlassian/lanyard-tap.git'
tap 'loomhq/tap'
tap 'mutagen-io/mutagen'

brew 'container-structure-test'
brew 'docker-credential-helper-ecr'
brew 'hostess'
brew 'loomhq/tap/jig'
brew 'loomhq/tap/loomctl'
brew 'loomhq/tap/mutagen-compose@0.17'
brew 'mkcert'
brew 'mutagen-io/mutagen/mutagen@0.17'
brew 'nss'
brew 'postgresql@16'
brew 'saml2aws'

cask 'atlassian/lanyard/lanyard'
cask 'yubico-yubikey-manager'
{{- end }}
