machine api.heroku.com
  login sean@lingrino.com
  password {{ (onepasswordRead "op://personal/6pmlloqnuna5xfadxu3wdqa3nm/apikeys/laptop") }}
machine git.heroku.com
  login sean@lingrino.com
  password {{ (onepasswordRead "op://personal/6pmlloqnuna5xfadxu3wdqa3nm/apikeys/laptop") }}
