cask_args appdir: '/Applications'

tap 'golangci/tap'
tap 'goreleaser/tap'
tap 'hashicorp/tap'
tap 'homebrew/cask-drivers'
tap 'homebrew/cask-versions'
tap 'kdash-rs/kdash'
tap 'lingrino/tap'
tap 'superfly/tap'

brew 'awscli'
brew 'bash'
brew 'bat'
brew 'bottom'
brew 'chezmoi'
brew 'cloudflare-wrangler'
brew 'corepack'
brew 'coreutils'
brew 'ctop'
brew 'delve'
brew 'dive'
brew 'docker-credential-helper-ecr'
brew 'dog'
brew 'duf'
brew 'dust'
brew 'exa'
brew 'fd'
brew 'fzf'
brew 'gh'
brew 'git-delta'
brew 'git-lfs'
brew 'git'
brew 'go'
brew 'golangci/tap/golangci-lint'
brew 'goreleaser/tap/goreleaser'
brew 'gpg'
brew 'gping'
brew 'hadolint'
brew 'hashicorp/tap/terraform'
brew 'helm'
brew 'hyperfine'
brew 'jq'
brew 'kdash-rs/kdash/kdash'
brew 'kind'
brew 'ko'
brew 'kubernetes-cli'
brew 'kustomize'
brew 'less'
brew 'libgit2'
brew 'lingrino/tap/cami'
brew 'lingrino/tap/glen'
brew 'lingrino/tap/vaku'
brew 'markdownlint-cli'
brew 'mas'
brew 'nmap'
brew 'node'
brew 'openssl'
brew 'packer'
brew 'pinentry-mac'
brew 'procs'
brew 'python'
brew 'readline'
brew 'ripgrep'
brew 'rustup-init'
brew 'scc'
brew 'sd'
brew 'serverless'
brew 'shellcheck'
brew 'shfmt'
brew 'starship'
brew 'superfly/tap/flyctl'
brew 'terraform-ls'
brew 'tflint'
brew 'vault'
brew 'viddy'
brew 'watch'
brew 'wget'
brew 'xh'
brew 'yq'
brew 'zoxide'
brew 'zsh-autosuggestions'
brew 'zsh-syntax-highlighting'
brew 'zsh'

cask '1password'
cask '1password-cli'
cask 'alfred'
cask 'aws-vault'
cask 'cleanshot'
cask 'cron'
cask 'docker'
cask 'firefox'
cask 'google-chrome'
cask 'infra'
cask 'istat-menus'
cask 'iterm2-beta'
cask 'linear-linear'
cask 'loom'
cask 'medis'
cask 'mimestream'
cask 'multitouch'
cask 'notion'
cask 'proxyman'
cask 'session-manager-plugin'
cask 'slack'
cask 'sublime-text'
cask 'tableplus'
cask 'visual-studio-code'
cask 'vlc'
cask 'warp'
cask 'zoom'

mas 'Peek', id: 1554235898
mas 'Things', id: 904280696
mas 'Tailscale', id: 1475387142

{{ if .work -}}
# work
tap 'loomhq/tap'

brew 'container-structure-test'
brew 'hostess'
brew 'loomhq/tap/loomctl'
brew 'mkcert'
brew 'nss'
brew 'nvm'
brew 'postgresql@15'
brew 'saml2aws'

cask 'ngrok'
{{- end }}
