#!/usr/bin/env sh
set -euo pipefail

mkdir -p '{{ .chezmoi.homeDir }}/Library/Application Support/doctl'
chmod 755 '{{ .chezmoi.homeDir }}/Library/Application Support/doctl'

ln -sf {{ .chezmoi.homeDir }}/.config/doctl/config.yaml '{{ .chezmoi.homeDir }}/Library/Application Support/doctl/config.yaml'
