#!/usr/bin/env sh
set -euo pipefail

# doc on available options
# https://git.herrbischoff.com/awesome-macos-command-line/about/

# keyboard
defaults write -g ApplePressAndHoldEnabled -bool false
defaults write -g KeyRepeat 2
defaults write -g InitialKeyRepeat 12

mkdir -p '{{ .chezmoi.homeDir }}/Library/KeyBindings'
tee {{ .chezmoi.homeDir }}/Library/KeyBindings/DefaultKeyBinding.dict >/dev/null <<EOF
{
  "\UF729"  = moveToBeginningOfLine:; // home
  "\UF72B"  = moveToEndOfLine:; // end
  "$\UF729" = moveToBeginningOfLineAndModifySelection:; // shift-home
  "$\UF72B" = moveToEndOfLineAndModifySelection:; // shift-end
  "^\UF729" = moveToBeginningOfDocument:; // ctrl-home
  "^\UF72B" = moveToEndOfDocument:; // ctrl-end
  "^$\UF729" = moveToBeginningOfDocumentAndModifySelection:; // ctrl-shift-home
  "^$\UF72B" = moveToEndOfDocumentAndModifySelection:; // ctrl-shift-end
}
EOF

# dns - https://1.1.1.1/dns/
sudo networksetup -setdnsservers Wi-Fi 1.1.1.1 1.0.0.1 2606:4700:4700::1111 2606:4700:4700::1001

# computer names
sudo scutil --set HostName {{ .machine }}
sudo scutil --set ComputerName {{ .machine }}
sudo scutil --set LocalHostName {{ .machine }}
