#!/usr/bin/env sh
set -euo pipefail

FISH_SHELL="{{ .brewprefix }}/bin/fish"

sudo tee /etc/shells >/dev/null <<EOF
# List of acceptable shells for chpass(1).
# Ftpd will not allow users to connect who are not using
# one of these shells.

/bin/bash
/bin/csh
/bin/dash
/bin/ksh
/bin/sh
/bin/tcsh
/bin/zsh
${FISH_SHELL}
EOF

CURRENT_SHELL=$(id -P "{{ .chezmoi.username }}" | cut -d: -f10)
if [ "${CURRENT_SHELL}" != "${FISH_SHELL}" ]; then
    sudo chsh -s "${FISH_SHELL}" "{{ .chezmoi.username }}"
fi
