#!/usr/bin/env sh
{{ if eq .machine "mini" }}
# https://github.com/tailscale/tailscale/wiki/Tailscaled-on-macOS

if ! ps axo comm | grep -q '[t]ailscaled'; then
    sudo tailscaled install-system-daemon
fi

tailscale up --ssh --accept-routes --advertise-exit-node
{{ end }}
