#!/usr/bin/env sh
set -euo pipefail

PASSPHRASE='{{ (onepasswordRead "op://personal/cylnjjo75gsoscskjegll5bizu/password") }}'

OUTPUT_IMPORT=$(gpg --import --batch --passphrase "${PASSPHRASE}" ~/.gpg/personal.key 2>&1)
if [[ ${OUTPUT_IMPORT} == *"secret keys imported: 1"* ]]; then
    echo "gpg: imported personal"
fi
gpg --import-ownertrust <<< "E2DEF4C1BA7A0C57BD66CE88B9648AAD7B9F176F:6:"

{{- if .work }}
PASSPHRASE='{{ (onepasswordRead "op://atlassian/hruupu7h62bqyvquyd6bn5ty2i/password") }}'

OUTPUT_IMPORT=$(gpg --import --batch --passphrase "${PASSPHRASE}" ~/.gpg/work.key 2>&1)
if [[ ${OUTPUT_IMPORT} == *"secret keys imported: 1"* ]]; then
    echo "gpg: imported work"
fi
gpg --import-ownertrust <<< "E0300D94C97D83D9539DE0C3EDD0CA31147EC3A9:6:"
{{- end }}
