# https://www.terraform.io/docs/cli/config/config-file.html
plugin_cache_dir = "{{ .chezmoi.homeDir }}/.terraform.d/plugincache"

{{ if .work -}}
credentials "app.terraform.io" {
  token = "{{ range (onepassword "lgezf4idm5aphocsmisig4jp7m" "gbn3qqaiareuxog5caebzs6aba").fields }}
    {{- if and (eq .label "work-laptop") (eq .section.label "User Tokens") }}
        {{- .value }}
    {{- end }}
{{- end }}"
}
{{- else }}
credentials "app.terraform.io" {
  token = "{{ range (onepassword "uieqxph7m5frpjro5yshwgwb6i" "mah5a5g5yrs2ehge3zqebu3iwa").fields }}
    {{- if and (eq .label "infra-personal") (eq .section.label "User Tokens") }}
        {{- .value }}
    {{- end }}
{{- end }}"
}
{{- end }}
