op_auths:
  me:
    shorthand: me
    email: me@email.com
    domain: https://my.1password.com
    subdomain: my
    user_uuid: LKJFEOIWNNGYWOIE71TYRPWMDH
    secret_key: A3-XXXXXX-XXXXXX-XXXXX-XXXXX-XXXXX-XXXXX
  work:
    shorthand: work
    email: me@work.com
    domain: https://work.1password.com
    subdomain: work-op
    user_uuid: LKJFEOIWNNGYWOIE71KLJDWIP1
    secret_key: A3-XXXXXX-XXXXXX-XXXXX-XXXXX-XXXXX-XXXXX
