[alias]
        a = "!f() { git add -A && git commit -m \"${*}\" && git push; }; f"
        br = branch
        cl = clone
        cm = commit
        co = checkout
        df = diff
        lg = log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
        nb = "!f() { git checkout -b ${1} && git push --set-upstream origin ${1}:${1}; }; f"
        ps = push
        pl = pull
        st = status

        aliases = config --get-regexp alias
        branches = branch -a
        remotes = remote -v
        tags = tag -l
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[protocol]
        version = 2
[core]
        excludesfile = ~/.gitignore
        editor = $EDITOR
        untrackedCache = true
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[difftool]
        prompt = false
[help]
        autocorrect = 1
[push]
        default = simple
        followTags = true
[fetch]
        prune = true
[pager]
       diff = diff-so-fancy | less --tabs=1,5 -RFX
       show = diff-so-fancy | less --tabs=1,5 -RFX
[commit]
	gpgsign = true
{% for user in git_users %}
{% if git_users[user].path is defined %}
[includeIf "gitdir:{{ git_users[user].path }}"]
        path = ~/.gitconfig-{{ git_users[user].shorthand }}.local
{% else %}
[include]
        path = ~/.gitconfig-{{ git_users[user].shorthand }}.local
{% endif %}
{% endfor %}
