[alias]
        a = "!f() { git add -A && git commit -m \"${*}\" && git push; }; f"
        br = branch
        cl = clone
        cm = commit
        co = checkout
        db = "!f() { git branch -vv | grep ': gone]'| grep -v \"*\" | awk '{ print $1; }' | xargs git branch -d; }; f"
        df = diff
        lg = log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
        ms = !git co $(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@') && git pull && git db
        nb = "!f() { git checkout -b lingrino/${1} && git push --set-upstream origin lingrino/${1}:lingrino/${1}; }; f"
        pc = "!gh pr create --web"
        pv = "!gh pr view --web"
        ps = push
        pl = pull
        rv = "!gh repo view --web"
        st = status

        aliases = config --get-regexp alias
        branches = branch -a
        remotes = remote -v
        tags = tag -l
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[init]
        defaultBranch = main
[protocol]
        version = 2
[pack]
        useSparse = true
[core]
        excludesfile = ~/.gitignore
        editor = $GIT_EDITOR
        pager = delta
        untrackedCache = true
[delta]
        syntax-theme = nord
        plus-style = syntax "#425630"
        minus-style = syntax "#773D42"
        plus-emph-style = syntax "#A3BE8C"
        minus-emph-style = syntax "#BF616A"
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[difftool]
        prompt = false
[help]
        autocorrect = 1
[push]
        default = simple
        followTags = true
[pull]
        rebase = false
[fetch]
        prune = true
[commit]
        gpgsign = true
[url "git@github.com:loomhq"]
        insteadOf = https://github.com/loomhq
{% for user in git_users %}
{% if git_users[user].path is defined %}
[includeIf "gitdir:{{ git_users[user].path }}"]
        path = ~/.gitconfig-{{ git_users[user].shorthand }}.local
{% else %}
[include]
        path = ~/.gitconfig-{{ git_users[user].shorthand }}.local
{% endif %}
{% endfor %}
