{{- if eq .machine "mini" -}}
sean@lingren.com {{ (onepasswordRead "op://dotfiles/mini/publickey") }}
{{- else -}}
sean@lingren.com {{ (onepasswordRead "op://dotfiles/personal/publickey") }}
{{- if eq .machine "work" }}
sean@pierre.co {{ (onepasswordRead "op://dotfiles/work/publickey") }}
{{- end }}
{{- end -}}
