Include {{ .chezmoi.homeDir }}/.orbstack/ssh/config

Host *
{{- if eq .machine "mini" }}
  AddKeysToAgent yes
  UseKeychain yes
  IdentitiesOnly yes
  IdentityFile ~/.ssh/mini
{{- else }}
  IdentityAgent "{{ .chezmoi.homeDir }}/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}
