Include {{ .chezmoi.homeDir }}/.orbstack/ssh/config

Host *
  AddKeysToAgent yes
  UseKeychain yes
  IdentitiesOnly yes
{{- if eq .machine "work" }}
  IdentityFile ~/.ssh/personal
  IdentityFile ~/.ssh/work
{{- else }}
  IdentityFile ~/.ssh/{{ .machine }}
{{- end }}
