{% for key in ssh_keys %}
IdentityFile ~/.ssh/{{ ssh_keys[key].file_name }}
{% endfor %}

# Mac Specific Settings
UseKeychain yes

{% if ssh_config_extra is defined %}
{{ ssh_config_extra }}
{% endif %}
