init.author.name={{ npm_author_name }}
init.author.email={{ npm_author_email }}
init.author.url={{ npm_author_url }}
init.license=MIT
init.version=0.0.1
loglevel=error
prefix={{ R_node_modules_dir.path }}
