#!/usr/bin/env fish

set -gx HOMEBREW_NO_ENV_HINTS true
set -gx HOMEBREW_GITHUB_API_TOKEN {{ (onepasswordRead "op://dotfiles/homebrew/HOMEBREW_GITHUB_API_TOKEN") }}
set -gx HOMEBREW_DOWNLOAD_CONCURRENCY auto
set -gx HOMEBREW_BUNDLE_FILE_GLOBAL {{ .chezmoi.homeDir }}/.config/homebrew/Brewfile
