#!/usr/bin/env fish

set -gx AWS_REGION us-west-2

function sme --description 'export secret to env'
    eval "$(aws --profile prod secretsmanager get-secret-value --secret-id $argv[1] --query SecretString --output text | jq -r 'to_entries | .[] | "export \(.key)=\(.value)"')"
end
