# show status bar at top for remote session,
# so it do not stack together with local session's one
set -g status-position top

# Set port of SSH remote tunnel, where tmux will pipe buffers to transfer on local machine for copy
set -g @copy_backend_remote_tunnel_port 11988
