# My tmux config file
# Uses tpm for package management
# https://github.com/tmux-plugins/tpm
# https://github.com/samoshkin/tmux-config/blob/master/tmux/tmux.conf

##########################
### General            ###
##########################

# Set prefix to ctrl-a
unbind C-b
set-option -g prefix C-a

# Set TERM properly
# https://github.com/tmux/tmux/wiki/FAQ#what-is-term-and-what-does-it-do
set -g default-terminal "xterm-256color"

# Enable mouse mode
set -g mouse on

# Start window numbering at 1
set -g base-index 1
setw -g pane-base-index 1
setw -g automatic-rename on
set -g renumber-windows on

# Set parent terminal title to reflect current window in tmux session
set -g set-titles on
set -g set-titles-string "#T"

##########################
### Plugins            ###
##########################
# Set custom TPM plugin path
set-environment -g TMUX_PLUGIN_MANAGER_PATH '{{ R_tmux_plugin_dir.path }}/'

# Plugins to install (should be at the bottom)
{% for plugin in tmux_plugins %}
set -g @plugin '{{ plugin }}'
{% endfor %}

# Initialize tpm (must be last line)
run -b '~/.tmux/plugins/tpm/tpm'

# This goes after running tpm to fix iterm2 aggressive-resize integration
# https://github.com/tmux-plugins/tmux-sensible/issues/24
setw -g aggressive-resize off
