{{- if eq .machine "work" -}}
[user]
  email = sean@pierre.co
  signingkey = {{ .chezmoi.homeDir }}/.ssh/work.pub
[core]
  sshCommand = ssh -i {{ .chezmoi.homeDir }}/.ssh/work -o IdentitiesOnly=yes
{{- end -}}
