# REFERENCE: https://doc.rust-lang.org/cargo/reference/config.html

[cargo-new]
vcs = "none"
name = "{{ rust_author_name }}"
email = "{{ rust_author_email }}"

[alias]
b = "build"
c = "check"
r = "run"
t = "test"
