name: Validate

on:
  push:
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Code - Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Ansible Lint
        uses: ansible/ansible-lint-action@master
        with:
          targets: ./**/*.yml
